<html>
	<body>
		<table width = '595' cellspacing = '0' cellpadding = '2' align = 'center'>
			<tr>
				<td align = 'center'>
					<a href = "<%= @url %>"><img src = '<%= @img %>' border = '0' /></a>
				</td>
			</tr>
			<tr>
				<td align = 'left'>
					<p>Dear <%= @owner %>,</p>
					
					<p>This is to let you know that <%= link_to @author.name, main_app.author_url(@author) %> has submitted a new <%= @approval.object_name.downcase %> entitled: "<%= @approval.common_name %>".</p>
					
					<p><b>Take Action:</b></p>
					
					<p><%= link_to "Preview The Complete #{@object.class.name}", main_app.preview_admin_approval_url(@public_key) %></p>
					<p><%= link_to "Edit The #{@approval.object_name}", main_app.edit_polymorphic_url([:admin, @object]) %></p>
					<p><%= link_to "Approve & Publish The #{@object.class.name}", main_app.from_email_admin_approval_url(id: @public_key, verdict: "approve", user_id: ENV['ADMIN_USER_ID']) %></p>
					<p><%= link_to "Mark #{@object.class.name} As Rejected", main_app.from_email_admin_approval_url(id: @public_key, verdict: "reject", user_id: ENV['ADMIN_USER_ID']) %></p>
				</td>
			</tr>
		</table>
	</body>
</html>